name: Build Kernel Samsung A22 5G
on:
  workflow_dispatch:
    inputs:
      REPO:
        description: Kernel Repo
        default: 'SM-A226B/kernel_samsung_a226b'
        required: true
      BRANCH:
        description: Kernel branch
        default: 'master'
        required: true
      DEFCONFIG:
        description: Defconfig kernel
        default: 'a22x_defconfig'
        required: true
        
jobs:
  build:
    runs-on: ubuntu-22.04
    environment: Build From ${{ github.actor }}
    steps:
    
    - name: Get date & fix date
      id: rundate
      run: sudo rm /etc/localtime && sudo ln -s /usr/share/zoneinfo/Asia/Jakarta /etc/localtime && echo "REPO_DATE=`date`" >> $GITHUB_OUTPUT
    
    - uses: actions/checkout@v4
      with:
        path: rootdir
        show-progress: false
        fetch-depth: 1

    - name: Clone kernel source
      run: git clone --depth=1 --single-branch -b ${{ inputs.BRANCH }} https://github.com/${{ inputs.REPO }} kernel_root
      working-directory: rootdir

    - name: Prepare dependencies
      run: |
        sudo apt update -y
        sudo apt install bc cpio flex bison aptitude git python-is-python3 tar perl wget jq curl lz4 -y
        sudo aptitude install libssl-dev -y
    
    - name: Fetching Toolchains
      working-directory: rootdir/kernel_root
      run: |
        mkdir -p toolchains
        cd toolchains
        if [ ! -d "$(pwd)/clang" ]; then
          git clone --depth=1 https://github.com/rufnx/toolchains.git -b clang-11 clang
          git clone --depth=1 https://github.com/rufnx/toolchains.git -b androidcc-4.9 gcc
          git clone --depth=1 https://github.com/rufnx/toolchains.git -b arm-gnu arm
          echo "Toolchains fetched successfully"
        else
          echo "Toolchains already exist, skipping..."
        fi

    - name: Build Kernel
      working-directory: rootdir/kernel_root
      run: |
        export CROSS_COMPILE=$(pwd)/toolchains/gcc/bin/aarch64-linux-android-
        export CROSS_COMPILE_COMPAT=$(pwd)/toolchains/arm/bin/arm-linux-gnueabi-
        export PATH=$(pwd)/toolchains/clang/bin:$PATH
        export KCFLAGS=-w

        # Generate Defconfig
        make ARCH=arm64 O=out ${{ inputs.DEFCONFIG }}

        # Compile Kernel
        make ARCH=arm64 O=out -j$(nproc --all) LLVM=1 LLVM_IAS=1

        # Check build result
        if [ ! -f "out/arch/arm64/boot/Image.gz" ]; then
          echo "Build Failed, Exiting"
          exit 1
        else
          echo "Build Success"
          echo "Continue to packaging with AnyKernel3"
        fi

    - name: Package with AnyKernel3
      working-directory: rootdir/kernel_root
      run: |
        git clone --depth=1 https://github.com/rufnx/anykernel.git -b a22x anykernel
        cp out/arch/arm64/boot/Image.gz anykernel/

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        path: rootdir/kernel_root/anykernel/*
        name: AnyKernel3-${{ github.actor_id }}
        compression-level: 9
