name: Build Kernel

on:
  workflow_dispatch:
    inputs:
      BRANCH:
        description: Kernel branch
        default: master
        required: true
      DEFCONFIG:
        description: Defconfig kernel
        default: rufnx_defconfig
        required: true
      KSU:
        description: KernelSU Support
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Build Kernel From ${{ github.actor }}

    steps:
    
      - name: Checkout kernel source
        uses: actions/checkout@v4
        with:
          repository: ${{ github.actor }}/kernel_samsung_a22x
          ref: ${{ inputs.BRANCH }}
          path: rootdir
          fetch-depth: 1

      - name: Prepare dependencies
        run: |
          sudo apt update -y
          sudo apt install -y \
            bc cpio flex bison git python-is-python3 \
            tar perl wget jq curl lz4 \
            libssl-dev

      - name: Fetch toolchains & KernelSU
        working-directory: rootdir
        run: |
          set -e

          if [[ "${{ inputs.KSU }}" == "true" ]]; then
            echo ">> Applying KernelSU patch"
            curl -LSs https://raw.githubusercontent.com/${{ github.actor }}/personal_patch/master/a22x.patch | patch -p1
            curl -LSs https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh | bash -s legacy
          else
            echo ">> Non-KernelSU build"
          fi

          mkdir -p toolchains
          cd toolchains

          if [ ! -d clang ]; then
            git clone --depth=1 https://github.com/rufnx/toolchains.git -b clang-11 clang
          fi

          if [ ! -d gcc ]; then
            git clone --depth=1 https://github.com/rufnx/toolchains.git -b androidcc-4.9 gcc
          fi

          if [ ! -d arm ]; then
            git clone --depth=1 https://github.com/rufnx/toolchains.git -b arm-gnu arm
          fi

          echo ">> Toolchains ready"

      - name: Build kernel
        working-directory: rootdir
        run: |
          set -e
          
          export PATH=$(pwd)/toolchains/clang/bin:$PATH
          export CROSS_COMPILE=$(pwd)/toolchains/gcc/bin/aarch64-linux-android-
          export CROSS_COMPILE_COMPAT=$(pwd)/toolchains/arm/bin/arm-linux-gnueabi-

          echo ">> Generate defconfig"
          make O=out ${{ inputs.DEFCONFIG }}

          echo ">> Compile kernel"
          make O=out -j$(nproc --all) LLVM=1 LLVM_IAS=1

          if [ ! -f out/arch/arm64/boot/Image.gz ]; then
            echo "Build failed"
            exit 1
          fi

          echo "Kernel build success"

          git clone --depth=1 https://github.com/rufnx/anykernel.git -b a22x anykernel
          cp out/arch/arm64/boot/Image.gz anykernel/

      - name: kernelversion
        working-directory: rootdir/out/arch/arm64/boot
        run: |
          zcat "Image.gz" | strings | grep "Linux version"

      - name: Upload AnyKernel3
        uses: actions/upload-artifact@v4
        with:
          name: AnyKernel3-${{ github.run_number }}
          path: rootdir/anykernel/*
          compression-level: 9
